// Fix retina.js being dumb
img {
 	height: auto;
  width: auto;
}

// Clear things!
.clear:before, .clear:after {
	content: ".";
 	display: block;
 	overflow: hidden;
 	visibility: hidden;
 	font-size: 0;
 	line-height: 0;
 	width: 0;
 	height: 0;
}
.clear:after {
	clear: both;
}

// Media Calls

@media (max-width: 48em) {
  
  //// Column adjustments
  .one-half,
  .one-third,
  .two-thirds,
  .three-fourths,
  .one-fourth {
    display: block;
    float: none;
    width: 100%;
  }
}